.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background-color: #d5f4e6;
  font-size: 0.1rem;
}
.header .logo-container .logo{
  width: 50%;
  height: 50px;
}
.header .logo-container {
  height: 70px;
  width: 100px;
  padding: 15px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: row;
}
.header .options {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header .options .option {
  display: flex;
  min-width: 15%;
  padding: 1% 2%;
}
